<div class = "container">
	<footer class = "footer">
		<small class = "copyright">
			Copyright &copy; <strong>Supermarket</strong> 2017 
		</small>
		<small class ="developed">
			Developed By <strong>Shubham Uttarwar</strong>
		</small>
	</footer>
</div>